astroid==2.1.0
atomicwrites==1.3.0
attrs==18.2.0
autopep8==1.4.3
coverage==4.5.2
doubles==1.5.3
hurry.filesize==0.9
isort==4.3.4
lazy-object-proxy==1.3.1
mccabe==0.6.1
mock==2.0.0
more-itertools==6.0.0
pbr==5.1.2
pluggy==0.8.1
py==1.7.0
pycodestyle==2.5.0
pygame==1.9.4
pylint==2.2.2
pynput==1.4
pyobjc-core==5.1.2
pyobjc-framework-Cocoa==5.1.2
pyobjc-framework-Quartz==5.1.2
pytest==4.3.0
pytest-cov==2.6.1
python3-wget==0.0.2b1
six==1.12.0
virtualenv==16.4.0
wrapt==1.11.1
